<a href="https://colab.research.google.com/github/Desmondonam/DS_Python/blob/main/Flight_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## Import the packages needed
import pandas as pd
import numpy as np

In [11]:
url = 'https://raw.githubusercontent.com/Desmondonam/Tourism_Insight/main/air-passengers-carried.csv'

In [14]:
# sep='\t'
df = pd.read_csv(url)

In [15]:
df.head()

        Entity Code  Year  Air transport, passengers carried
0  Afghanistan  AFG  1970                            84700.0
1  Afghanistan  AFG  1971                            97400.0
2  Afghanistan  AFG  1972                           104900.0
3  Afghanistan  AFG  1973                            96600.0
4  Afghanistan  AFG  1974                            96100.0

In [16]:
df.tail()

        Entity Code  Year  Air transport, passengers carried
8184  Zimbabwe  ZWE  2015                        370165.0000
8185  Zimbabwe  ZWE  2016                        378803.0000
8186  Zimbabwe  ZWE  2017                        282539.0000
8187  Zimbabwe  ZWE  2018                        282539.0000
8188  Zimbabwe  ZWE  2020                        324226.5313

In [17]:
df

           Entity Code  Year  Air transport, passengers carried
0     Afghanistan  AFG  1970                         84700.0000
1     Afghanistan  AFG  1971                         97400.0000
2     Afghanistan  AFG  1972                        104900.0000
3     Afghanistan  AFG  1973                         96600.0000
4     Afghanistan  AFG  1974                         96100.0000
...           ...  ...   ...                                ...
8184     Zimbabwe  ZWE  2015                        370165.0000
8185     Zimbabwe  ZWE  2016                        378803.0000
8186     Zimbabwe  ZWE  2017                        282539.0000
8187     Zimbabwe  ZWE  2018                        282539.0000
8188     Zimbabwe  ZWE  2020                        324226.5313

[8189 rows x 4 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8189 entries, 0 to 8188
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             8189 non-null   object
 1   Code                               7520 non-null   object
 2   Year                               8189 non-null   int64
 3   Air transport, passengers carried  8189 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 256.0+ KB

In [19]:
df.isnull().sum().sum()

669