<a href="https://colab.research.google.com/github/Desmondonam/DS_Python/blob/main/Working_with_data2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Various types of Joins, merges

In [1]:
import pandas as pd

# Sample dataframes
df1 = pd.DataFrame({'ID': [1, 2, 3, 4],
                    'Name': ['Alice', 'Bob', 'Charlie', 'David']})

df2 = pd.DataFrame({'ID': [3, 4, 5, 6],
                    'Age': [25, 30, 22, 28]})

In [2]:
# Inner join
inner_join_result = pd.merge(df1, df2, on='ID', how='inner')
print("Inner Join:")
print(inner_join_result)

Inner Join:
   ID     Name  Age
0   3  Charlie   25
1   4    David   30

In [3]:
# Left join
left_join_result = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_join_result)

Left Join:
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  25.0
3   4    David  30.0

In [4]:
# Right join
right_join_result = pd.merge(df1, df2, on='ID', how='right')
print("\nRight Join:")
print(right_join_result)

Right Join:
   ID     Name  Age
0   3  Charlie   25
1   4    David   30
2   5      NaN   22
3   6      NaN   28

In [5]:
# Full join
full_join_result = pd.merge(df1, df2, on='ID', how='outer')
print("\nFull Join:")
print(full_join_result)

Full Join:
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie  25.0
3   4    David  30.0
4   5      NaN  22.0
5   6      NaN  28.0

In [6]:
# Concatenation along rows
concat_result = pd.concat([df1, df2], axis=0)
print("\nConcatenation along rows:")
print(concat_result)

Concatenation along rows:
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob   NaN
2   3  Charlie   NaN
3   4    David   NaN
0   3      NaN  25.0
1   4      NaN  30.0
2   5      NaN  22.0
3   6      NaN  28.0

In [7]:
# Concatenation along columns
concat_result_axis1 = pd.concat([df1, df2], axis=1)
print("\nConcatenation along columns:")
print(concat_result_axis1)

Concatenation along columns:
   ID     Name  ID  Age
0   1    Alice   3   25
1   2      Bob   4   30
2   3  Charlie   5   22
3   4    David   6   28