<a href="https://colab.research.google.com/github/Desmondonam/DS_Python/blob/main/working_with_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Group summaries

In [ ]:
import pandas as pd

#create some data
data = {
    'Categories' : ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [10, 20, 15, 25, 12, 18]
}

df = pd.DataFrame(data)
print(df)

  Categories  Value
0          A     10
1          B     20
2          A     15
3          B     25
4          A     12
5          B     18

In [ ]:
## Calculate the mean

grouped_data = df.groupby('Categories')['Value'].mean()
print(grouped_data)

Categories
A    12.333333
B    21.000000
Name: Value, dtype: float64

In [ ]:
## Calculate the sum

grouped_data = df.groupby('Categories')['Value'].sum()
print(grouped_data)

Categories
A    37
B    63
Name: Value, dtype: int64

count(), min(), max()

In [ ]:
## apply different aggregations
# Use the agg() - function
grouped_data = df.groupby('Categories').agg({'Value': ['mean', 'sum', 'min']})
print(grouped_data)

                Value
                 mean sum min
Categories
A           12.333333  37  10
B           21.000000  63  18

In [ ]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Type': ['X', 'Y', 'Y', 'X', 'X', 'Y'],
    'Value': [10, 20, 15, 25, 12, 18]
}
df = pd.DataFrame(data)
grouped_data = df.groupby(['Category', 'Type']).agg({'Value': 'sum'})
print(grouped_data)

               Value
Category Type
A        X        22
         Y        15
B        X        25
         Y        38

In [ ]:
import pandas as pd

#create some data
data = {
    'Categories' : ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [10, 20, 15, 25, 12, 18]
}

df = pd.DataFrame(data)
print(df)

  Categories  Value
0          A     10
1          B     20
2          A     15
3          B     25
4          A     12
5          B     18

In [ ]:
## Custom aggregation functions
# Use the agg()
## calculate range - range = maximun - minimum
def calculate_range(y):
  return y.max() - y.min()

grouped_data = df.groupby('Categories')['Value'].agg(calculate_range)
print(grouped_data)

Categories
A    5
B    7
Name: Value, dtype: int64

## Dealing with missing data

In [ ]:
## 1. Identify the missing data
# In pandas missing data is represented by NaN (Not a Number)
# use the function .isnull() - checks missing values   running function notnull() - checks non missing values

import pandas as pd

data = {
    'A': [1, 2, None, 4, 5],
    'B': [10, 20, 30, None, 50]
}

df = pd.DataFrame(data)
print(df)

     A     B
0  1.0  10.0
1  2.0  20.0
2  NaN  30.0
3  4.0   NaN
4  5.0  50.0

In [ ]:
print(df.isnull())

       A      B
0  False  False
1  False  False
2   True  False
3  False   True
4  False  False

In [ ]:
# 2. Handle missing value
# use of .fillna()  - fill the missing value by applying methods like forward-fill, backward-fill, mean, mode ....

In [ ]:
# fill missing data by the mean of the data
df.fillna(df.mean(), inplace = True)
print(df)

     A     B
0  1.0  10.0
1  2.0  20.0
2  3.0  30.0
3  4.0  27.5
4  5.0  50.0

In [ ]:
## Dropping missing data
# use the function dropna()

In [ ]:
import pandas as pd

data = {
    'A': [1, 2, None, 4, 5],
    'B': [10, 20, 30, None, 50]
}

df = pd.DataFrame(data)
print(df)

     A     B
0  1.0  10.0
1  2.0  20.0
2  NaN  30.0
3  4.0   NaN
4  5.0  50.0

In [ ]:
df.dropna(inplace = True)
print(df)

     A     B
0  1.0  10.0
1  2.0  20.0
4  5.0  50.0

In [ ]:
## Interpolation
# use the function .interpolate()

df = pd.DataFrame({'A': [1, None, 3, 4, None, 6, 7]})

In [ ]:
print(df)

     A
0  1.0
1  NaN
2  3.0
3  4.0
4  NaN
5  6.0
6  7.0

In [ ]:
df['A'].interpolate(method = 'linear', inplace = True)
print(df)

     A
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0
6  7.0

In [ ]:
## getting the summary of the missing data
#use .isnull() together with .sum()
df = pd.DataFrame({'A': [1, None, 3, 4, None, 6, 7]})

In [ ]:
print(df)

     A
0  1.0
1  NaN
2  3.0
3  4.0
4  NaN
5  6.0
6  7.0

In [ ]:
print(df.isnull().sum())

A    2
dtype: int64

In [ ]:
## Forward fill in handling missing data
## use ffill
df = pd.DataFrame({'A': [1, None, 3, 4, None, 6, 7]})

In [ ]:
print(df)

     A
0  1.0
1  NaN
2  3.0
3  4.0
4  NaN
5  6.0
6  7.0

In [ ]:
df = df['A'].fillna(method = 'ffill')
print(df)

0    1.0
1    1.0
2    3.0
3    4.0
4    4.0
5    6.0
6    7.0
Name: A, dtype: float64

# Assignment 1

### Data Analysis and Visualization with Pandas and Matplotlib:
Choose a dataset of your interest (e.g., movies, weather, sports, etc.) You can get the dataset from Kaggle. Load the dataset into a pandas DataFrame and perform exploratory data analysis (EDA) to understand the data's structure and characteristics. Use pandas to clean the data, **handle missing values**, and perform data transformations. Create various visualizations using matplotlib to present insights and trends in the data. Data Cleaning and Preprocessing for Machine Learning: